.dayListContianer {
  display: flex;
  flex-direction: column;
  margin: var(--padding-medium);
  gap: 10px;
}
.dayContainer {
  font-size: var(--font-small);
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* border: 2px solid gray; */
  border-radius: var(--padding-medium);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.dayContainer:nth-child(odd) {
  background-color: var(--accent);
}
.dayContainer:nth-child(even) {
  background-color: gainsboro;
}
.dayNumber {
  flex: 0.2;
  padding: var(--padding-medium);
  border-right: 2px dotted var(--text);
}
.dayMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.dayMenu p {
  width: 100%;
  margin: 5px;
  padding: 0;
}

.dropdownContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdownList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  justify-items: center;
}
.dropdownListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  font-size: var(--font-small);
}
.dropdownContainer p {
  flex: 0.25;
  margin: 0;
  padding: 0;
}
.dropdownContainer h4 {
  flex: 1;
  margin: 0;
  padding: 0;
}
