.pageContainer {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: -8px;

  --text: #0d100b;
  --background: #f5f8f3;
  --primary: #7cba5b;
  --secondary: #a8dc8d;
  --accent: #92e06a;

  --font-large: 8vw;
  --font-medium: 4vw;
  --font-small: 2vw;

  --padding-medium: 1vw;
}

.header {
  width: 100%;
  height: 50px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.headerContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.headerButton {
  display: none;
}

@media (max-width: 500px) {
  .header {
    width: 100%;
    height: 50px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .headerContainerActive {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    left: 0;
    top: 50px;
  }
  .headerContainer {
    width: 100%;
    height: 0vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    left: 0;
    top: 50px;
    display: none;
  }
  .headerButton {
    display: flex;
  }
}
/* .header {
  width: 100%;
  height: 50px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
} */
.header .button {
  color: var(--text);
  font-size: 18px;
  text-decoration-line: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 50%;
  align-self: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  text-wrap: nowrap;
}
.contentContainer h1 {
  margin: 0px;
  padding: 0px;
  font-size: var(--font-large);
}
.contentContainer p {
  margin: 0px;
  padding: 0px;
  font-size: var(--font-medium);
}
.budgetContainer {
  background-color: var(--primary);
  width: 20vw;
  padding: var(--padding-medium);
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  font-size: var(--font-small);
  align-items: center;
  gap: 5px;
}
.budgetContainer input[type="number"]::-webkit-inner-spin-button,
.budgetContainer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.budgetContainer input[type="number"] {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  font-size: var(--font-small);
  flex: 1;
}
.budgetContainer input[type="number"]::placeholder {
  color: var(--text);
}
.budgetContainer p {
  font-size: var(--font-small);
  text-wrap: nowrap;
}

.durationContainer {
  background-color: red;
}
